<div class="row" >
  <div class="col-md-6">
    <form class="form-horizontal" (ngSubmit)="onSubmit()" [formGroup]="contactForm">
      <div class="form-group" [ngClass]="{'has-error':!contactForm.controls['firstName'].valid}">
        <label for="firstName" class="col-sm-2 control-label">First name</label>
        <div class="col-sm-10">
          <input type="text"class="form-control" id="firstName" placeholder="First name" formControlName="firstName">
          <span id="helpBlock2" class="help-block" *ngIf="!contactForm.controls['firstName'].valid">Invalid value.</span>
        </div>
      </div>
      <div class="form-group" [ngClass]="{'has-error':!contactForm.controls['lastName'].valid}">
        <label for="lastName" class="col-sm-2 control-label">Last name</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="lastName" placeholder="Last name" required formControlName="lastName">
          <span id="helpBlock2" class="help-block" *ngIf="!contactForm.controls['lastName'].valid">Invalid value.</span>
        </div>
      </div>
      <div class="form-group" [ngClass]="{'has-error':!contactForm.controls['email'].valid}">
        <label for="email" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-10">
          <input type="email" class="form-control" id="email" placeholder="Email" required formControlName="email">
          <span id="helpBlock2" class="help-block" *ngIf="!contactForm.controls['email'].valid">Invalid value.</span>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default" [disabled]="!contactForm.valid">Add</button>
        </div>
      </div>
    </form>
  </div>
</div>
